<h1>Admin::Dashboard#show</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Dashboard Stats:</h5>
    <p class="card-text">Number of Products: <span class="badge bg-secondary"><%= @products_count %></span></p>
    <p class="card-text">Number of Categories: <span class="badge bg-secondary"><%= @categories_count %></span></p>
  </div>
</div>
